:root{
      
    --COR1:#43803E;
    --COR2:#6BCC62;
    --COR3:#145a0e;
    --COR4:#338b5f;
    --COR7:#1F2024;
    --COR8:#ffffff;
    --COR10:#e7e7e7;
    --COR11:#024059;
    --COR12:#026873;
    --COR13:#0CABA8;
    --COR14:#015958;
    --COR15:#F28157;
    --COR16:#DB8244;
    --COR17:#FF9A75;
    --COR18:#BF6545;
    --corback: #1F2024;
 
    
       --font-Opensans: Open Sans, sans-serif;
       --font-Cisco-bold: font-CiscoSans;
       --font-Cisco-regular: font-CiscoSans2;
    --border:.2rem solid rgba(0,0,0,.1);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
 }

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.logofooster{
	height: 10%;
}
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
    background-color: var(--corback);
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: var(--COR11);
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	text-decoration: none;
	font-weight: 300;
	color: var(--COR8);
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: var(--COR14);
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color:var(--COR14);
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}