
/* fontes da navbar*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

@font-face {
   font-family: font-CiscoSans;
   src: url('../CSS/CiscoSans-Bold/CiscoSans-Bold.ttf') format('opentype');
 }

 @font-face {
   font-family: font-CiscoSans2;
   src: url('../CSS/CiscoSans/CiscoSans.ttf') format('opentype');
 }

 /* paleta de cores da navbar*/

 :root{
      
   --COR1:#43803E;
   --COR2:#6BCC62;
   --COR3:#145a0e;
   --COR4:#338b5f;
   --COR7:#1F2024;
   --COR8:#ffffff;
   --COR10:#e7e7e7;
   --COR11:#024059;
   --COR12:#026873;
   --COR13:#0CABA8;
   --COR14:#015958;
   --COR15:#F28157;
   --COR16:#DB8244;
   --COR17:#FF9A75;
   --COR18:#BF6545;

   
      --font-Opensans: Open Sans, sans-serif;
      --font-Cisco-bold: font-CiscoSans;
      --font-Cisco-regular: font-CiscoSans2;
   --border:.2rem solid rgba(0,0,0,.1);
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

/* listaUsuario.css */

.containerdoacao {
    margin: 50px auto;
    width: 80%;
    margin-top: 120px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
  }
  
  th {
    background-color: #d7e5d6;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  td {
    background-color: var(--COR2);
    padding: 10px;
    border: 1px solid #000000;
    color: #0f0f0f;
    text-align: center;
    
  }
  
  tr:nth-child(even) td {
    background-color: #F2F2F2;
  }
  
  a {
    text-decoration: none;
  }
  
  .fa-pen {
    color: light-blue;
  }
  
  .fa-eraser {
    color: red;
  }
  